{% extends 'base.html.twig' %}

{% block title %}SEARCH GAMES
{% endblock %}


{% block body %}
	<div class="border-t border-b border-[#6A6A6A] h-[45px]">

		<div class="">
			<button class="w-[16.2vw] h-[45px] border-r border-[rgb(106,106,106)] mr-2 mb-0" type="button" data-drawer-target="drawer-navigation" data-drawer-show="drawer-navigation" aria-controls="drawer-navigation">
				<p id="fontText">CONFIGURATIONS</p>
			</button>
		</div>


		<div>
			{# Aqui irá la barra de busqueda #}
		</div>

	</div>


	<div class="flex">
		<div class="flex-col w-[20vw] h-[100vh] border-r border-[#6A6A6A] justify-center ">

			<div class="flex-col justify-center px-2">
				<p id="secondaryText" class="pt-[2vh] self-center pl-4 text-lg">CATEGORY</p>
				<div class="border-b w-[15vw] border-[rgb(106,106,106)]"></div>
			</div>

			<div class="mx-[2vw] space-y-4">
				<div id="secondaryText" class="secondaryText pt-3">
					<input type="checkbox" id="action" name="action_category">
					<label for="action">Action</label>
				</div>

				<div id="secondaryText" class="secondaryText">
					<input type="checkbox" id="adventure" name="adventure_category">
					<label for="adventure">Adventure</label>
				</div>

				<div id="secondaryText" class="secondaryText">
					<input type="checkbox" id="arcade" name="arcade_category">
					<label for="arcade">Arcade</label>
				</div>

				<div id="secondaryText" class="secondaryText">
					<input type="checkbox" id="cooperative" name="cooperative_category">
					<label for="cooperative">Cooperative</label>
				</div>

				<div id="secondaryText" class="secondaryText">
					<input type="checkbox" id="first_person_shooter" name="first_person_category">
					<label for="first_person">First Person Shooter</label>
				</div>

				<div id="secondaryText" class="secondaryText">
					<input type="checkbox" id="third_person_shooter" name="third_person_shooter_category">
					<label for="third_person_shooter">Third Person Shooter</label>
				</div>

				<div id="secondaryText" class="secondaryText">
					<input type="checkbox" id="horror" name="horror_category">
					<label for="horror">Horror</label>
				</div>

				<div id="secondaryText" class="secondaryText">
					<input type="checkbox" id="indie" name="indie_category">
					<label for="indie">Indie</label>
				</div>

				<div id="secondaryText" class="secondaryText">
					<input type="checkbox" id="multiplayer" name="multiplayer_category">
					<label for="multiplayer">Multiplayer</label>
				</div>
			</div>

			<div class="flex-col justify-center px-2 pt-7">
				<div class="border-b w-[15vw] border-[rgb(106,106,106)]"></div>
			</div>

			<div class="flex-col justify-center px-2">
				<p id="secondaryText" class="pt-[2vh] self-center pl-4 text-lg">SPECS</p>
			</div>

			<div class="mx-[2vw] space-y-4">
				<div id="selectText" class="secondaryText pt-3">
					<p id="secondaryText">CPU</p>
					<select name="cpu" id="cpu" class="rounded-2xl w-[10vw]">
						{% for elem in cpu %}
							{% if elem.id is same as(app.user.myspecs.cpuid.id) %}
								<option value="" selected>{{elem.model}}</option>
							{% else %}
								<option value="">{{elem.model}}</option>
							{% endif %}
						{% endfor %}
					</select>
				</div>

				<div id="selectText" class="secondaryText pt-3">
					<p id="secondaryText">MEMORY</p>
					<select name="ram" id="ram" class="rounded-2xl w-[10vw]">
						{% for elem in ram %}
							{% if elem.id is same as(app.user.myspecs.ramid.id) %}
								<option value="" selected>{{elem.memory}}</option>
							{% else %}
								<option value="">{{elem.memory}}</option>
							{% endif %}
						{% endfor %}
					</select>
				</div>

				<div id="selectText" class="secondaryText pt-3">
					<p id="secondaryText">GPU</p>
					<select name="gpu" id="gpu" class="rounded-2xl w-[10vw]">
						{% for elem in gpu %}
							{% if elem.id is same as(app.user.myspecs.gpuid.id) %}
								<option value="" selected>{{elem.model}}</option>
							{% else %}
								<option value="">{{elem.model}}</option>
							{% endif %}
						{% endfor %}
					</select>
				</div>
			</div>

			<div class="flex-col justify-center px-2 pt-7">
				<div class="border-b w-[15vw] border-[rgb(106,106,106)]"></div>
			</div>

		</div>

		<div class="flex px-[7vw] py-[3vh] justify-start w-full flex-wrap">
			{% for videogame in videogames %}
				<a class="w-1/5" href="{{path('app_videogames_show', {'id': videogame.id})}}">
					<img src="{{asset(videogame.picture)}}" class="rounded-2xl" alt="">
				</a>
			{% endfor %}
		</div>
	</div>

{% endblock %}
