{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    {# <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Aboutme</th>
                <td>{{ user.aboutme }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ user.picture }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_index') }}">back to list</a>

    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>

    {{ include('user/_delete_form.html.twig') }} #}




<div class="bg-[#606060] rounded-3xl space-y-[16px] flex-col mx-auto mt-[3vh] h-[902px] w-[846px]">
    <div class="flex h-[250px] w-full bg-[#2573EB] rounded-t-3xl">
        <div class="h-[200px] w-[200px] bg-white flex ml-[28px] self-center border border-[#6C6C6C] rounded-full">
        </div>
        <p id="fontText" class="self-center text-4xl pl-5">{{ user.username }}</p>
    </div>

    <div id="secondaryText" class="flex w-[781px] h-[126px] break-words bg-[#757575] mx-[32px] rounded-lg">
        <p class="m-[8px]">{{user.aboutme}}</p>
    </div>

    <div class="flex mx-[32px] space-x-[32px]">

        <div id="secondaryText" class="h-[462px] w-[450px] bg-[#757575] break-words rounded-lg">
            <p class="m-[8px]">First Name:</p>
            <p class="m-[8px]">{{user.firstname}}</p>
        </div>

        <div id="secondaryText" class="h-[462px] w-[298px] bg-[#757575] break-words rounded-lg">
            <p class="m-[8px]">Lolita</p>

        </div>
        
    </div>
        
</div>






{% endblock %}
