<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap" rel="stylesheet">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ importmap() }}
        {% endblock %}
    </head>
    <body class="bgcolor">
    {% block header %}
        <header id="headercolor" class="h-20 w-full flex items-center justify-between">
        <h1 id="fontText" class="mx-8 text-4xl">GAMEMATCHER</h1>
        <div class="flex text-xl mx-8 space-x-6 ">
            <div>
            <a id="fontText" href="{{path('app_login')}}"><button>LOG IN</button></a>
            </div>
            <div class="bg-blue-600 px-4 rounded-2xl">
            <a id="fontText" href="{{path('app_register')}}"><button>SIGN UP</button></a>
            </div>
        </div>
        </header>
    {% endblock %}
    
    {% block body %}

    {% endblock %}
    </body>
</html>
